<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Detalhando Curriculo</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<div class="container">


		<h1>Detalhes do curriculo</h1>
<p th:if="${mensagem}" th:text="${mensagem}"></p>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Curriculo</span>
						<p>
							<strong>Id: </strong><span th:text="${curriculo.id}"></span>
						</p>
						<p>
							<strong>Nome: </strong><span th:text="${curriculo.nome}"></span>
						</p>
						<p>
							<strong>Endereço: </strong><span th:text="${curriculo.endereco}"></span>
						</p>
						<p>
							<strong>Telefone: </strong><span th:text="${curriculo.telefone}"></span>
						</p>
						<p>
							<strong>Formação: </strong><span th:text="${curriculo.formacao}"></span>

						</p>
						<p>
							<strong>Cursos: </strong><span th:text="${curriculo.cursos}"></span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Fazer solicitação</span>
						<form th:action="@{/{idCurriculo}(idCurriculo=${curriculo.id})}"
							method="post" th:object="${solicitacao}">
							<div>
								<input type="hidden" th:field="*{id}" readonly="readonly">
							</div>
							<div>
								<label>Data de admissão: </label><input type="date"
									th:field="*{dataSolicitacao}">
								<p th:errors="*{dataSolicitacao}"></p>
							</div>

							<div>
								<label>Entrevistar: </label><input type="text"
									th:field="*{entrevistar}">
								<p th:errors="*{entrevistar}"></p>
							</div>

							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />

							<div>
								<button type="submit" class="btn">Solicitar</button>
								<button type="reset" class="btn">Limpar</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>